@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a) à Clínica Renascer!</h1>
    <p>Estamos felizes em recebê-lo em nossa clínica dedicada ao cuidado excepcional. Nossa equipe qualificada está pronta para proporcionar uma experiência acolhedora e personalizada. Na Clínica Renascer, comprometemo-nos com sua saúde e bem-estar, oferecendo serviços adaptados às suas necessidades. Explore nossas instalações modernas e conte conosco para uma jornada de cuidado integral. Seja bem-vindo à Clínica Renascer, onde sua saúde é nossa prioridade.</p>
</div>
